export("chipenrich");
export("plot_spline_length");
export("plot_dist_to_tss");
export("plot_gene_coverage");
export("plot_expected_peaks");
exportPattern("supported_.*");

import(stringr);
importFrom(plyr,rbind.fill);
import(methods);
import(GenomicRanges);
import(IRanges);
import(mgcv);
import(lattice);
import(latticeExtra);
import(grid);
import(parallel);
import(rms);
import(chipenrich.data);
